
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!--Explore books-->
    <ion-row>
      <ion-col>
        <ion-card>
          <!--Title-->
          <ion-item>
            <ion-card-header>
              <ion-card-title>New Release</ion-card-title>
            </ion-card-header>

            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-col *ngFor="let books of [0,1,2]">
              <app-book-item *ngIf="allBooks[books]" [book]="allBooks[books]"></app-book-item>
            </ion-col>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--Under 8 books-->
    <ion-row>
      <ion-col>
        <ion-card>
          <!--Title-->
          <ion-item>
            <ion-card-header>
              <ion-card-title>Ebooks under $8</ion-card-title>
            </ion-card-header>

            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/YI2Psg-DeWEC?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[0]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[0]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
              
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--Health books-->
    <ion-row>
      <ion-col>
        <ion-card>
          <!--Title-->
          <ion-item>
            <ion-card-header>
              <ion-card-title>Health reads</ion-card-title>
            </ion-card-header>

            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/YI2Psg-DeWEC?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[0]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[0]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
              
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--Best Sellers books-->
    <ion-row>
      <ion-col>
        <ion-card>
          <!--Title-->
          <ion-item>
            <ion-card-header>
              <ion-card-title>Best Sellers</ion-card-title>
            </ion-card-header>

            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/YI2Psg-DeWEC?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[0]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[0]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
              
            <ion-col>
              <ion-card>
                <img src="https://books.google.com/books/content/images/frontcover/2VbVAAAAQBAJ?fife=w200-h300" />
                <ion-card-header>
                  <ion-card-title>{{allBooks[1]?.bookName}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  ${{allBooks[1]?.bookPrice}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>