<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="username" formControlName="username"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="block" color="tertiary" type="submit">Log In</ion-button>
     
    
      </form>
      <ion-label color='danger'>
        <p>{{loginError}}</p>
      </ion-label>
  
      <ion-button expand="block" fill="clear" color="primary" type="submit" [routerLink]="['/register']">
        Or Create an Account
        </ion-button>
  </ion-content>
</ion-content>
